# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/MiaoUILite
/DmResEditor/Cache/Debug64
/bin/Test/Debug64/MiaoUITest.pdb
/bin/Test/Release64
/bin/DmResEditor/Debug64
/MiaoUI/Cache
/MiaoUI/library
/MiaoUITest/Cache
/packages
